<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post - Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <ul>
        <h1>Create a New Post</h1>
        <form method="post" action="{{ url_for('create') }}">
            {{ form.hidden_tag() }}
            {{ form.title.label }}
            {{ form.title }}
            {{ form.content.label }}
            {{ form.content }}
            {{ form.submit }}
        </form>
    </ul>
    <a href="{{ url_for('home') }}" class="home-button">Back to Home</a>
</body>
</html>
