<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="background-image">
    <h1 style="background-color: rgba(230, 230, 250, 0.8);">Welcome To My Blog!</h1>
    <ul>
        {% for post in posts %}
            <li><a href="{{ url_for('post', post_id=loop.index) }}">{{ post['title'] }}</a></li>
            <p></pstyle>>{{ post['content'] }}</p>
        {% endfor %}
    </ul>
    <ul>
        {% if current_user.is_authenticated %}
            {% if current_user.id == 1 %}
                <p style="background-color: lavender;"><a href="{{ url_for('create') }}">Create a New Post</a></p>
                <p style="background-color: lavender;"><a href="{{ url_for('clear1') }}">Clear All Posts</a></p>
                <p style="background-color: grey;"><a href="{{ url_for('clear2') }}">Clear All Users</a></p>
            {% endif %}
            <p>Hello, {{ current_user.username }}!</p>
            <a href="{{ url_for('logout') }}">Logout</a>
            <!-- Add content for logged-in users -->
        {% else %}
            <p>You are not logged in.</p>
            <a href="{{ url_for('login') }}">Login</a>
            <!-- Add content for non-logged-in users -->
        {% endif %}
    </ul>
</body>
</html>
